.centered-div {
    padding: 30px 10px 10px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 800px;
    background-color: rgba(248, 246, 242, 0.9);
    border-radius: 50px;
    margin-top: 50px;
    transform: translateX(-10%);
    flex-direction: column;
    border: palegoldenrod solid 1px;
}

.parent-container {


    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn{

    margin: 20px;
    height: 60px;

}
